<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="FbToolEntities" connectionString="metadata=res://*/FbToolModel.csdl|res://*/FbToolModel.ssdl|res://*/FbToolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=66.42.35.199,1433;initial catalog=FacebookTool;persist security info=True;user id=sa;password=Quangtranvan229@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

		<!--<add name="FbToolEntities" connectionString="metadata=res://*/FacebookToolModel.csdl|res://*/FacebookToolModel.ssdl|res://*/FacebookToolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R2Q3AA3;initial catalog=FacebookTool;persist security info=True;user id=sa;password=quangtranvan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="FbToolEntities" connectionString="metadata=res://*/FacebookToolModel.csdl|res://*/FacebookToolModel.ssdl|res://*/FacebookToolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R2Q3AA3;initial catalog=FacebookTool;persist security info=True;user id=sa;password=quangtranvan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>