<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <add name="FbToolEntities" connectionString="metadata=res://*/FbToolModel.csdl|res://*/FbToolModel.ssdl|res://*/FbToolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TranQuang;initial catalog=FacebookTool;persist security info=True;user id=sa;password=quangtranvan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
<connectionStrings><add name="FbToolEntities" connectionString="metadata=res://*/FbToolModel.csdl|res://*/FbToolModel.ssdl|res://*/FbToolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TranQuang;initial catalog=FacebookTool;persist security info=True;user id=sa;password=quangtranvan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>